.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-element {
  margin-top: 10px;
}
.input {
  display: flex;
  flex-direction: column;
}
.copy {
  opacity: 0;
}
.output-container{
display: flex;
flex-direction: row-reverse;
align-items: center;
gap: 12px;
}

