<div class="container">
  <h1>Password generator</h1>
  
  <div class="form-container">

  
  <div class="input-element input">
    <label for="lengthInput">Enter Length</label>
    <input type="number" required name="length" (input)="lengthInput($any($event.target).value)" id="lengthInput">
  </div>
  <div class="input-element">
    <label for="letters">Use Letters</label>
    <input type="checkbox" (change)="letterCheckBox()" name="letters" id="letters">
  </div>
  <div class="input-element">
    <label for="upperCaseLetters">Use Upper Case Letters</label>
    <input type="checkbox" (change)="upperCaseLetterCheckBox()" name="upperCaseLetters" id="upperCaseLetters">
  </div>
  <div class="input-element">
    <label for="numbers">Use Numbers</label>
    <input type="checkbox" (change)="numbersCheckBox()" name="numbers" id="numbers">
  </div>
  <div class="input-element">
    <label for="symbols">Use Symbols</label>
    <input type="checkbox" (change)="symbolsCheckBox()" name="symbols" id="symbols">
  </div>
  <div class="input-element">
    <button type="submit" (click)="onButtonClick()">Generate</button>
  </div>
  <div class="input-element input">
    <label for="urpw">Your Password</label>
    <div class="output-container">
      <p>Click to copy</p>
      <input class="output" type="text" id="urpw" (click)="copyToClipBoard(inputElement)" #inputElement [value]="password">
    </div>
  </div>
</div>
</div>